body {
  margin: 0;
  font-family: 'Mochiy Pop P One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  background: linear-gradient(360deg, #a571dc 0%, #bf8df5 60%, #e7e3ba 100%);
  background-size: 100% 200%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgba(212, 135, 223, 0.637);
}
